<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/LandingPageStyle.css}">
    <script th:src="@{/user/js/mainScript.js}" defer></script>
    <title>LandingPage</title>
</head>
<body>
    <div class="bodyLandingPage">
        <div class="header">
            <div class="leftHeader">
                <label for="" class="logo">SportSync</label>
                <button for="" class="races">Races</button>
            </div>
            <div class="rightHeader">
                <a th:href="@{/sportsync/login}">
                <button type="button">Login</button>
                </a>
            </div>
        </div>
        <main class="Main1">
            <label for="">Track Your Runs,</label>
            <label for="">Go Further!</label>
            <a th:href="@{/sportsync/login}">
                <button type="button">Join For Free</button>
            </a>
        </main>
        <main class="Main2">
            <div class="group-imgLP">
                <img src="assets/LandingPage/shoesIcon.svg" alt="">
                <img src="assets/LandingPage/shareIcon.svg" alt="">
                <img src="assets/LandingPage/runIcon.svg" alt="">
                <img src="assets/LandingPage/analysIcon.svg" alt="">
            </div>
            <div class="group-labelLP">
                <label for="">Track Your Runs</label>
                <label for="">Share with the World</label>
                <label for="">Compete in Races</label>
                <label for="">Analyze your Progress</label>
            </div>
        </main>
        <footer class="Footer">
            <label for="">About Us</label>
            <label for="">At SportSync, we’re passionate about helping you achieve your fitness goals. Whether you’re a casual jogger or a seasoned athlete, our platform lets you track your runs, monitor progress, and connect with a community of like-minded enthusiasts. Stay motivated, stay synced!</label>
            <label for="">Follow us on social media!</label>
            <img src="assets/LandingPage/sosmedIcon.svg" alt="">
        </footer>
    </div>
</body>
</html>