<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/LoginPageStyle.css}">
    <title>Login page</title>
</head>
<body>
    <div class="body">

        <div class="leftSide">
            <img th:src="@{/user/assets/LoginPage/loginimg.png}" alt="">
        </div>
        <div class="rightSide">
            <form action="/sportsync/login" method="post">
                <div class="container">
                    <label for="">Welcome To SportSync</label>
                    <div class="email">
                        <label for="">Email:</label>
                        <input type="text" id="email" name="email" placeholder="Input your email" required th:value="${email}">
                    </div>
                    <div class="password">
                        <label for="">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Input your password" required th:value="${password}">
                    </div>
                    <button type="submit">Sign In</button>
                    <label for="">Don't have an account?     <a th:href="@{/sportsync/Register}">Register</a></label>
                    <span th:if="${error}" th:text="${error}"></span>
                </div>
            </form>
        </div>
    </div>
</body>
</html>