<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/LoginPageStyle.css}">
    <title>Login page</title>
</head>
<body>
    <div class="body">

        <div class="leftSide">
            <img src="/sportsync/src/main/resources/static/user/assets/LoginPage/loginimg.png" alt="">
        </div>
        <div class="rightSide">
            <form action="" method="post">
                <div class="container">
                    <label for="">Welcome To SportSync</label>
                    <div class="email">
                        <label for="">Email:</label>
                        <input type="text" placeholder="example@email.com" name="" id="">
                    </div>
                    <div class="password">
                        <label for="">Password:</label>
                        <input type="text" placeholder="*******" name="" id="">
                    </div>
                    <button type="button" style="height: 5px;">Sign In</button>
                    <label for="">Don't have an account?     <a href="">Register</a></label>
                </div>
            </form>
        </div>
    </div>
</body>
</html>