<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/RacesPageStyle.css}">
    <title>Races</title>
</head>
<body>
    <div class="bodyRacesPage">
        <div class="header">
            <div class="leftHeader">
                <label for="" class="logo">SportSync</label>
                <button for="" class="races">Races</button>
            </div>
            <div class="rightHeader">
                <a th:href="@{/sportsync/login}">
                    <button type="button">Login</button>
                </a>
            </div>
        </div>

        <main class="mainRaces">
            <section class="ongoingRaces">
                <h1>Ongoing Races</h1>
                <div class="raceCards" th:each="race : ${ongoingRaces}">
                    <div class="raceCard">
                        <h2 th:text="${race.judul}">Race Name</h2>
                        <p>📅 <span th:text="${race.tglMulai} + ' to ' + ${race.tglSelesai}">Date Range</span></p>
                        <p>📝 <span th:text="${race.deskripsi}">Description</span></p>
                        <a th:href="@{/sportsync/login}">
                            <button>Join Race</button>
                        </a>
                    </div>
                </div>
            </section>

            <section class="pastRaces">
                <h1>Past Races</h1>
                <div class="raceCards" th:each="race : ${pastRaces}">
                    <div class="raceCard">
                        <h2 th:text="${race.judul}">Race Name</h2>
                        <p>📅 <span th:text="${race.tglMulai} + ' to ' + ${race.tglSelesai}">Date Range</span></p>
                        <p>📝 <span th:text="${race.deskripsi}">Description</span></p>
                        <a th:href="@{/sportsync/races/leaderboard}">
                            <button>See Result</button>
                        </a>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
