<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/headerAdmin_styles.css}">
    <link rel="stylesheet" th:href="@{/css/addRace_styles.css}">
    <title>Add Race</title>
</head>
<body>
    <th:block th:include="~{/admin/header :: headerAdmin}"></th:block>
    <main>
        <h1>Add Race</h1>
        <div class="main_container">
            <div class="container">
                <form class="form" method="POST" th:object="${race}">
                    <div class="form_group">
                        <label>Title</label><br>
                        <input type="text" class="form_control" name="judul" th:field="*{judul}">
                        <span th:if="${#fields.hasErrors('judul')}" th:errors="*{judul}">Judul error</span>
                    </div>
                    <div class="form_group">
                        <label>Description</label><br>
                        <input type="text" class="form_control" name="deskripsi" th:field="*{deskripsi}">
                        <span th:if="${#fields.hasErrors('deskripsi')}" th:errors="*{deskripsi}">Deskripsi error</span>
                    </div>
                    <div class="form_group">
                        <label>Start Date</label><br>
                        <input type="date" class="form_control" name="tglMulai" th:field="*{tglMulai}">
                        <span th:if="${#fields.hasErrors('tglMulai')}" th:errors="*{tglMulai}">TglMulai error</span>
                    </div>
                    <div class="form_group">
                        <label>End Date</label><br>
                        <input type="date" class="form_control" name="tglSelesai" th:field="*{tglSelesai}">
                        <span th:if="${#fields.hasErrors('tglSelesai')}" th:errors="*{tglSelesai}">TglSelesai error</span>
                    </div>
                    <div th:if="${dateError}">
                        <span th:text="${dateError}"></span>
                    </div>
                    <div th:if="${success}">
                        <span th:text="${success}"></span>
                    </div>
    
                    <div class="buttons-container">
                        <button class="button" type="submit" formaction="/admin/addRace/reset">Reset</button>
                        <button class="button" type="submit" formaction="/admin/addRace/save">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>