<div th:fragment="headerAdmin">
    <div class="header">
        <div class="leftHeader">
            <label class="logo">SportSync</label>
            <a th:href="@{/admin/}" class="button"><button class="listMembers">Members</button></a>
            <a th:href="@{/admin/}" class="button"><button class="addRace">Add Race</button></a>
        </div>
        <div class="rightHeader">
            <button type="button" onclick="window.location.href='/'">Log Out</button>
        </div>
    </div>
</div>