<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Activity</title>
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/add_activity_style.css}">
    <script th:src="@{/user/js/add_activity.js}" defer></script>

</head>

<body>
    <div class="header">
        <div class="sport-sync">SportSync</div>
        <div class="dashboard">Dashboard</div>
        <div class="activities">Activities</div>
        <div class="races">Races</div>
        <div class="rectangle-60"></div>
        <div class="analysis">Analysis</div>
        <img class="user" src="assets/user0.svg" />
        <div class="notification"></div>
    </div>

    <div class="wrapper">

        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>

        <form class="new_activity_form" method="post" id="registerForm" th:method="post" enctype="multipart/form-data">
            <div class="form_container">

                <!-- Title -->
                <label for="judul"><b>Title</b></label>
                <input type="text" id="judul" name="judul" placeholder="Morning Run" required maxlength="100">

                <!-- Distance -->
                <label for="jarakTempuh"><b>Distance</b></label>
                <input type="number" id="jarakTempuh" name="jarakTempuh" required min="1" max="99999"> <span>meters</span>

                <!-- Duration -->
                <div class="duration-container">
                    <label class="labelDurasi"><b>Duration</b></label>
                    <div class="duration-inputs">
                        <input type="number" id="durasiJam" name="durasiJam" required min="0" max="23"> <span>h</span>
                        <input type="number" id="durasiMenit" name="durasiMenit" required min="0" max="59"> <span>m</span>
                        <input type="number" id="durasiDetik" name="durasiDetik" required min="0" max="59"> <span>s</span>
                    </div>
                </div>

                <!-- Date & Time -->
                <label for="tglWaktuMulai"><b>Date and Time</b></label>
                <input type="datetime-local" id="tglWaktuMulai" name="tglWaktuMulai" required min="2020-01-01T00:00"
                max="${datetimeNow}">

                <!-- Description -->
                <label for="deskripsi"><b>Title</b></label>
                <input type="text" id="deskripsi" name="deskripsi" placeholder="How did it go?" required maxlength="200">


                <!-- Upload picture -->
                <label for="foto"><b>Upload a Picture</b></label>
                <input type="file" id="foto" name="foto" accept="image/jpg, image/jpeg, image/png">

                <!-- Race -->
                <label for="is_race">This is for a race</label><br>
                <input type="checkbox" id="is_race" name="is_race" onclick="toggleRaceDropdown()">
                <select name="idRace" id="race" disabled>
                    <option value="" disabled selected>Select a race</option>
                    <option th:each="race : ${joinedRaces}" 
                            th:value="${race.id}" 
                            th:text="${race.name}"
                            th:selected="${race.id == race}">
                    </option>
                </select>
            </div>
        </form>
    </div>

</body>

</html>