<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/DashboardStyle.css}">
    <title>Dashboard</title>
</head>
<body>
    
    <div class="body">
        <!-- Header -->
        <th:block class="header" th:include="~{user/Header :: headerUser}"></th:block>
        
        <main class="mainDashboard">
            <div class="leftside1">
                <div class="leftside-group">
                    <img src="/user/assets/DashboardPage/userIcon.svg" alt="">
                    <span th:text="${username}">Nama</span>
                    <hr>
                    <div class="followList">
                        <div class="countFollow">
                            <label for="" th:text="${countActivity}">0</label>
                        </div>
                        <div class="labelFollow">
                            <label for="">Activities</label>
                        </div>
                    </div>
                    <hr>
                    
                </div>
            </div>
            <div class="leftside2">
                <div class="kmPerWeek">
                    <label for="">This Week</label>
                    <span th:text="${weekTotalDistance} + ' m'"></span>
                </div>
                <hr>
                <div class="weekCalender">
                    <img src="/user/assets/DashboardPage/calenderIcon.svg" alt="">
                    <button onclick="updateDay('MON')">M</button>
                    <button onclick="updateDay('TUE')">T</button>
                    <button onclick="updateDay('WED')">W</button>
                    <button onclick="updateDay('THU')">T</button>
                    <button onclick="updateDay('FRI')">F</button>
                    <button onclick="updateDay('SAT')">S</button>
                    <button onclick="updateDay('SUN')">S</button>
                </div>
                <div class="today">
                    <p id="selectedDay">Monday</p>
                    <p id="distance">0 m</p>
                </div>
            </div>
            <div class="middle">
                <div class="img-middle">
                    <img src="/user/assets/DashboardPage/imgDP.svg" alt="">
                </div>
                <div class="paraf1">
                    <label for="">Getting Started</label>
                    <label for="">We’ve listed a couple of steps to help you get set up on SportSync.</label>
                </div>
                <hr>
                <div class="paraf2">
                    <img src="/user/assets/DashboardPage/middleDashboardIcon.svg" alt="">           
                    <div class="labelParaf2">
                        <label for="">SportSync can track your activities</label>
                        <label for="">SportSync is an application designed to track running events and activities while encouraging users to participate in running activities. It allows users to record their performance, join various running challenges, and stay motivated to maintain an active lifestyle.</label>
                        <a th:href="@{/sportsync/user/activities}" class="button"><button>Activities</button></a>
                    </div>     
                </div>
                <hr>
                <div class="paraf3">
                    <img src="/user/assets/DashboardPage/middleDashboardIcon.svg" alt="">           
                    <div class="labelParaf3">
                        <label for="">You can join our event</label>
                        <label for="">SportSync is an application that tracks running events and activities while inviting users to join competitive running events. It helps users discover races, register easily, and stay engaged in the running community.</label>
                        <a th:href="@{/sportsync/user/races}" class="button"><button>Races</button></a>
                    </div>     
                </div>
                <hr>
                <div class="paraf3">
                    <img src="/user/assets/DashboardPage/middleDashboardIcon.svg" alt="">           
                    <div class="labelParaf3">
                        <label for="">We can analyze your performance</label>
                        <label for="">SportSync is an application for tracking running events and activities that also allows you to analyze your running performance. It provides detailed insights into your progress, helping you improve and achieve your fitness goals.</label>
                        <a th:href="@{/sportsync/user/analysis}" class="button"><button>Analysis</button></a>
                    </div>     
                </div>
                <hr>
            </div>
            <div class="rightside">
                <!-- Slideshow 1 -->
                <div class="slideshow-container1">
                    <div class="mySlides1">
                        <img src="/user/assets/DashboardPage/ad1.png" alt="Iklan 1">
                    </div>
                    <div class="mySlides1">
                        <img src="/user/assets/DashboardPage/ad2.jpg" alt="Iklan 2">
                    </div>
                    <div class="mySlides1">
                        <img src="/user/assets/DashboardPage/ad3.webp" alt="Iklan 3">
                    </div>
                </div>
            
                <!-- Slideshow 2 -->
                <div class="slideshow-container2">
                    <div class="mySlides2">
                        <img src="/user/assets/DashboardPage/ad4.jpg" alt="Iklan 4">
                    </div>
                    <div class="mySlides2">
                        <img src="/user/assets/DashboardPage/ad5.webp" alt="Iklan 5">
                    </div>
                    <div class="mySlides2">
                        <img src="/user/assets/DashboardPage/ad6.jpg" alt="Iklan 6">
                    </div>
                </div>
            
                <!-- Slideshow 3 -->
                <div class="slideshow-container3">
                    <div class="mySlides3">
                        <img src="/user/assets/DashboardPage/ad7.jpeg" alt="Iklan 7">
                    </div>
                    <div class="mySlides3">
                        <img src="/user/assets/DashboardPage/ad8.jpg" alt="Iklan 8">
                    </div>
                    <div class="mySlides3">
                        <img src="/user/assets/DashboardPage/ad9.jpg" alt="Iklan 9">
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        let slideIndex1 = 0;
    
        function showSlides1() {
            let slides1 = document.getElementsByClassName("mySlides1");
            
            // Menyembunyikan semua slide
            for (let i = 0; i < slides1.length; i++) {
                slides1[i].style.display = "none";
            }
    
            slideIndex1++;
    
            if (slideIndex1 > slides1.length) {
                slideIndex1 = 1; // Kembali ke slide pertama jika sudah mencapai yang terakhir
            }
    
            // Menampilkan slide berikutnya
            slides1[slideIndex1 - 1].style.display = "block";
            setTimeout(showSlides1, 6000); 
        }
    
        showSlides1(); // Memulai slideshow
    </script>
    <script>
        let slideIndex2 = 0;
    
        function showSlides2() {
            let slides2 = document.getElementsByClassName("mySlides2");
            
            // Menyembunyikan semua slide
            for (let i = 0; i < slides2.length; i++) {
                slides2[i].style.display = "none";
            }
    
            slideIndex2++;
    
            if (slideIndex2 > slides2.length) {
                slideIndex2 = 1; // Kembali ke slide pertama jika sudah mencapai yang terakhir
            }
    
            // Menampilkan slide berikutnya
            slides2[slideIndex2 - 1].style.display = "block";
            setTimeout(showSlides2, 4000); // Ganti gambar setiap 2 detik
        }
    
        showSlides2(); // Memulai slideshow
    </script>
    <script>
        let slideIndex3 = 0;
    
        function showSlides3() {
            let slides3 = document.getElementsByClassName("mySlides3");
            
            // Menyembunyikan semua slide
            for (let i = 0; i < slides3.length; i++) {
                slides3[i].style.display = "none";
            }
    
            slideIndex3++;
    
            if (slideIndex3 > slides3.length) {
                slideIndex3 = 1; // Kembali ke slide pertama jika sudah mencapai yang terakhir
            }
    
            // Menampilkan slide berikutnya
            slides3[slideIndex3 - 1].style.display = "block";
            setTimeout(showSlides3, 5000); // Ganti gambar setiap 2 detik
        }
    
        showSlides3(); // Memulai slideshow
    </script>
    <script>
        const weekData = /*[[${weekChartData}]]*/ [];
        const dayMap = {
            'MON': 'Monday',
            'TUE': 'Tuesday',
            'WED': 'Wednesday',
            'THU': 'Thursday',
            'FRI': 'Friday',
            'SAT': 'Saturday',
            'SUN': 'Sunday'
        };
        function updateDay(dayCode) {
            // Update nama hari yang dipilih
            document.getElementById("selectedDay").innerText = dayMap[dayCode];
            
            
            // Cari data m dari weekChartData
            const data = weekData.find(data => data.hari === dayCode);
            
            // Update jarak
            if (data) {
                document.getElementById("distance").innerText = data.totalJarakTempuh + " m";
            } else {
                document.getElementById("distance").innerText = "0 m";
            }
        }
    </script>
</body>
</html>