<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/DashboardStyle.css}">
    <script th:src="@{/user/js/Overlay.js}" defer></script>
    <title>Dashboard</title>
</head>
<body>
    
    <div class="body">
        <div class="header">
            <div class="leftHeader">
                <label for="" class="logo">SportSync</label>
                <a th:href="@{/user/Dashboard}">
                    <button for="" class="dashboard">Dashboard</button>
                </a>
                <a th:href="@{/user/activities}">
                    <button for="" class="activities">Activities</button>
                </a>
                <a th:href="@{/user/races}">
                    <button for="" class="race">Races</button>
                </a>
                <a th:href="@{/user/analysis}">
                    <button for="" class="analysis">Analysis</button>
                </a>
            </div>
            <div class="rightHeader">
                <img src="/user/assets/DashboardPage/userIcon.svg" onclick="showElement()">
            </div>
        </div>
        <main class="mainDashboard">
            <div class="leftside1">
                <div class="leftside-group">
                    <img src="/user/assets/DashboardPage/userIcon.svg" alt="">
                    <label for="">User</label>
                    <hr>
                    <div class="followList">
                        <div class="countFollow">
                            <label for="">0</label>
                            <label for="">0</label>
                            <label for="">0</label>
                        </div>
                        <div class="labelFollow">
                            <label for="">Follower</label>
                            <label for="">Following</label>
                            <label for="">Activities</label>
                        </div>
                    </div>
                    <hr>
                    <div class="addActivity">
                        <label for="">Add Activities</label>
                    </div>
                </div>
            </div>
            <div class="leftside2">
                <div class="kmPerWeek">
                    <label for="">This Week</label>
                    <label for="">0 Km</label>
                </div>
                <hr>
                <div class="weekCalender">
                    <img src="/user/assets/DashboardPage/calenderIcon.svg" alt="">
                    <label for="">M</label>
                    <label for="">T</label>
                    <label for="">W</label>
                    <label for="">T</label>
                    <label for="">F</label>
                    <label for="">S</label>
                    <label for="">S</label>
                </div>
                <div class="today">
                    <label for="">Monday</label>
                    <label for="">0 Km</label>
                </div>
            </div>
            <div class="middle">
                <div class="img-middle">
                    <img src="/user/assets/DashboardPage/imgDP.svg" alt="">
                </div>
                <div class="paraf1">
                    <label for="">Getting Started</label>
                    <label for="">We’ve listed a couple of steps to help you get set up on SportSync.</label>
                </div>
                <hr>
                <div class="paraf2">
                    <img src="/user/assets/DashboardPage/middleDashboardIcon.svg" alt="">           
                    <div class="labelParaf2">
                        <label for="">See what your friends are doing</label>
                        <label for="">Find your friends on SportSync or invite them to join you. Cheer them on, discover new workouts and start training with the athletes you already know.</label>
                        <button type="button">Find Friend</button>
                    </div>     
                </div>
                <hr>
            </div>
            <div class="rightside">
                <div class="friendList">
                    <button>
                        Friend List
                    </button>
                </div>
                <div class="addFriend">
                    <button>
                        Add Friend
                    </button>
                </div>
            </div>
        </main>
    </div>
    <div id="OverlayIconUser">
        <form action="logout" method="post">
            <button id="logoutButton" type="submit" value="logout">Log out</button>
        </form>
    </div>
</body>
</html>