<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/user/css/PastRaceLeaderboardPage.css">
</head>
<body>
    <div class="body">
        <!-- Header -->
        <th:block class="header" th:include="~{user/Header :: headerUser}"></th:block>
        
        <div class="container">
            <h1>Leaderboard</h1>
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Distance (m)</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="entry, iterStat : ${leaderboard}">
                        <td th:text="${iterStat.index + 1}"></td>
                        <td th:text="${entry.username}"></td>
                        <td th:text="${entry.jarakTempuh}"></td>
                        <td th:text="${entry.durasi}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
