body{
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bodyLandingPage{
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: grid;
    grid-template-rows: 95px 700px 700px 508px;
    grid-template-columns: 100vh;
    grid-template-areas: 
    "header"
    "main1"
    "main2"
    "footer";
}
.body{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 95px 60vh;
    grid-template-areas:
    "header"
    "main";

}
.mainDashboard{
    grid-area: main;
    display: grid;
    grid-template-columns: 33vw 34vw 33vw;
    grid-template-rows: 30vw 30vw;
    column-gap: 20px;
    grid-template-areas: 
    "side1 middle side3"
    "side2 middle side3";
}
.mainDashboard .leftside1{
    width: 30vw;
    height: 27vw;
    grid-area: side1;
    background-color: #F4F4F4;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.leftside-group{
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.leftside-group hr{
    color: #3325C5;
    border: 1px solid #3325C5;
    width: 27vw;
}
.leftside-group img{
    flex: 0.3;
    width: 60px;
    height: 60px;
}
.followList{
    width: 30vw;
    flex: 0.2;
    display: flex;
    flex-direction: column;
}
.countFollow{
    display: flex;
    flex-direction: row;
}
.countFollow label{
    flex: 1;
}
.labelFollow{
    display: flex;
    flex-direction: row;
}
.labelFollow label{
    flex:1;
}
.mainDashboard .leftside2{
    grid-area: side2;
    width: 30vw;
    height: 27vw;
    background-color: #F4F4F4;
    margin: 20px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.leftside2 .kmPerWeek{
    height: 90px;
    display: flex;
    flex-direction: column;
}
.kmPerWeek label{
    flex: 0.5;
}
.leftside2 hr{
    color: #3325C5;
    border: 1px solid #3325C5;
    width: 27vw;
}
.leftside2 .weekCalender{
    flex: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftside2 .weekCalender button{
    flex: 0.1;
    border: 0px;
    background-color:#F4F4F4;
    height: 10vh;
}
.leftside2 .weekCalender button:hover{
    cursor: pointer;
    background-color: rgba(51, 37, 197, 0.1);
}
.leftside2 .today{
    display: flex;
    flex-direction: column;
    height: 90px;
}
.today label{
    flex: 0.5;
}
.mainDashboard .middle{
    grid-area: middle;
    display: flex;
    width: 33vw;
    flex-direction: column;
    background-color: #F4F4F4;
    margin-top: 20px;
}
.middle .img-middle{
    flex: 0.23;
}
.middle hr{
    width: 29vw;
    border: 1px solid #3325C5;
    color: #3325C5;
}
.paraf1{
    margin:20px;
    flex: 0.1;
    display: flex;
    flex-direction: column;
}
.paraf1 label:nth-child(1){
    font-size: 20px;
    color: #5E587A;
}
.paraf1 label:nth-child(2){
    font-size: 12px;
    color: #5E587A;
}
.paraf2{
    flex: 0.1;
    display: flex;
    margin: 20px;
    flex-direction: row;
    height: 100vh;
}
.paraf2 img{
    height: 8vh;
}
.paraf2 .labelParaf2{
    display: flex;
    flex-direction: column;
    color: #5E587A;
    font-size: 12px;
    margin-left: 20px;
}
.labelParaf2 label:nth-child(1){
    font-size: 20px;
    margin-bottom: 20px;
}
.labelParaf2 button{
    margin-top: 20px;
    width: 8vw;
    height: 4vh;
    border: 0px;
    border-radius: 8px;
    background-color: #3325C5;
    color: white;
}
.img-middle img{
    width: 33vw;
}
.rightside{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.rightside .friendList button{
    background-color: white;
    width: 15vw;
    height: 5vh;
    flex: 0.8;
    border: 0px;
}
.rightside .friendList button:hover{
    cursor: pointer;
    background-color: rgba(51, 37, 197, 0.1);
}
.rightside .addFriend button{
    background-color: white;
    width: 15vw;
    height: 5vh;
    border: 0px;
}
.rightside .addFriend button:hover{
    cursor: pointer;
    background-color: rgba(51, 37, 197, 0.1);
}
.mainDashboard .rightside{
    grid-area: side3;
    background-color: #F4F4F4;
    width: 30vw;
    margin-top: 20px;
}
.Main1{
    grid-area: main1;
    display: flex;
    text-align: right;
    justify-content: right;
    flex-direction: column;
    width: 100vw;
    height: 700px;
    background-size: 100vw;
    background-repeat:no-repeat ;
    background-image: url(/sportsync/src/main/resources/Assets/LandingPage/LandingPageBackground.svg);
    padding-top: 250px;
}
.Main1 button{
    width: 450px;
    height: 90px;
    background-color: #3325C5;
    color: white;
    border: 0px;
    border-radius: 8px;
    margin-left: 1000px;
}
.Main1 button:hover{
    cursor: pointer;
    background-color: rgba(51, 37, 197, 0.8);
}
.Main1 label{
    font-size: 80px;
    color: #3325C5;
    margin-right:20px;
}
.Main2{
    grid-area: main2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.group-imgLP{
    width: 1500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-imgLP img{
    flex: 0.3;
    width: 100px;
    height: 100px;
}
.group-labelLP{
    width: 1500px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.group-labelLP label{
    flex: 0.3;
}
.Footer{
    grid-area: footer;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #3325C5;
    color: white;;
}
.Footer img{
    width: 150px;
    height: 60px;
}
.Footer label:nth-child(1){
    font-size: 50px;
    flex: 0.4;
}
.Footer label:nth-child(2){
    font-size: 20px;
    flex: 0.4;
}
.Footer label:nth-child(3){
    font-size: 20px;
}
.friendListoverlay{
    border: 1px solid black;
    width: 30vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    left: 69.5%;
    top: 17%;
    background-color: #F4F4F4;
    color: black;
}
.addFriendoverlay{
    border: 1px solid black;
    width: 30vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    left: 69.5%;
    top: 17%;
    background-color: #F4F4F4;
    color: black;
    display: hidden;
}
.rightside {
    grid-area: side3;
    background-color: #F4F4F4;
    width: 30vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.slideshow-container1 {
    position: relative;
    width: 100%;
    height: 33vh; /* Sesuaikan tinggi slideshow */
    overflow: hidden; /* Menyembunyikan gambar yang tidak terlihat */
}

.slideshow-container2 {
    position: relative;
    width: 100%;
    height: 33vh; /* Sesuaikan tinggi slideshow */
    overflow: hidden; /* Menyembunyikan gambar yang tidak terlihat */
}

.slideshow-container3 {
    position: relative;
    width: 100%;
    height: 33vh; /* Sesuaikan tinggi slideshow */
    overflow: hidden; /* Menyembunyikan gambar yang tidak terlihat */
}

.mySlides1 {
    display: block;
    width: 100%;
    height: 100%;    /* Mengisi seluruh tinggi container */
    animation: slide 5s ease-in-out infinite;  /* Animasi transisi slide */
}

.mySlides2 {
    display: block;
    width: 100%;
    height: 100%;    /* Mengisi seluruh tinggi container */
    animation: slide 5s ease-in-out infinite;  /* Animasi transisi slide */
}

.mySlides3 {
    display: block;
    width: 100%;
    height: 100%;    /* Mengisi seluruh tinggi container */
    animation: slide 5s ease-in-out infinite;  /* Animasi transisi slide */
}


.mySlides1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Memastikan gambar mengisi ruang tanpa distorsi */
}

.mySlides2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Memastikan gambar mengisi ruang tanpa distorsi */
}
.mySlides3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Memastikan gambar mengisi ruang tanpa distorsi */
}