*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    padding: 25px;
    background-color: #F4F4F4;
}
.leftHeader{
    flex: 1;
    display: flex;
    align-items: center;
}
.logo {
    color: #3325c5;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 7vh;
    font-weight: 400;
}
.leftHeader button{
    flex: 0.1;
    height: 95px;
    width: 120px;
    padding:10px;
    border: 0px;
    background-color:#F4F4F4 ;
    color: #5E587A;
    font-size: 18px;
}
.leftHeader button:hover{
    cursor: pointer;
    background-color: rgba(51, 37, 197, 0.1);
}
.leftHeader .logo{
    font-size: 36px;
    color: #3325C5;
    flex: 0.2;

}
.rightHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightHeader img{
    width: 40px;
    height: 40px;
}

@media print {
    .header {
        display:none;
    }
}

#profileIcon:hover{
    cursor: pointer;
}

#logoutButton{
    background-color: #E2253C;
    color: white;
}

#OverlayIconUser {
    width: fit-content;
    height: auto;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    right: 1px;
    top: 95px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    visibility: hidden; 
    z-index: 10; 
}

#OverlayIconUser button{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px;
}

#OverlayIconUser p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

button:hover {
    cursor: pointer;
}

#editProfileButton {
    background-color: #3325C5;
    color: white;
}

#editProfileButton:hover {
    background-color: #0056b3;
}

#logoutButton:hover {
    background-color: darkred;
}
