*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    padding: 25px;
    background-color: #F4F4F4;
}
.leftHeader{
    flex: 1;
    display: flex;
    align-items: center;
}
.logo {
    color: #3325c5;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 7vh;
    font-weight: 400;
}
.leftHeader button{
    flex: 0.1;
    height: 95px;
    width: 120px;
    padding:10px;
    border: 0px;
    background-color:#F4F4F4 ;
    color: #5E587A;
    font-size: 18px;
}
.leftHeader button:hover{
    cursor: pointer;
    background-color: rgba(51, 37, 197, 0.1);
}
.leftHeader .logo{
    font-size: 36px;
    color: #3325C5;
    flex: 0.2;

}
.rightHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightHeader img{
    width: 40px;
    height: 40px;
}

@media print {
    .header {
        display:none;
    }
}