.body{
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 100vh;
    grid-template-areas: 
    "left right";
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
.leftSide{
    grid-area: left;
    background-color: #3325c5;
}
.leftSide #label-container{
    color: white;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 250px;
}
#label-container label{
    flex: 1;
    margin: 0px;
    padding: 0px;
}
.rightSide{
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 40vw;
    height: 60vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.container .login, .container .email, .container .fullname, .container .username, .container .password, .container .confPassword{
    flex: 0.2;
}

.login{
    display: flex;
    flex-direction: column;
}
.login label:nth-child(1){
    font-size: 30px;
}
.login label:nth-child(2){
    color: #5E587A;
}
.fullname{
    display: flex;
    flex-direction: column;
}
.username{
    display: flex;
    flex-direction: column;
}
.email{
    display: flex;
    flex-direction: column;
}
.password{
    display: flex;
    flex-direction: column;
}
.confPassword{
    display: flex;
    flex-direction: column;
}
.nextbutton{
    margin-top: 20px;
    display: flex;
    justify-content: right;
}
.nextbutton a button{
    border: 0px;
    border-radius: 8px;
    background-color: #3325c5;
    color: white;
    width: 6vw;
    height: 4vh;
}
.nextbutton a button:hover{
    cursor: pointer;
    background-color: rgba(51, 37, 197, 0.8);
}
.email input, .password input, .fullname input, .username input, .confPassword input{
    border-radius: 8px;
    border: 1px solid #3325c5;
    height:30px;
}
.container>label:nth-child(1){
    color: #3325c5;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}