<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sportsync/src/main/resources/css/ActivitiesStyle.css">
    <script src="/sportsync/src/main/resources/js/mainScript.js" defer></script>
    <title>Activities</title>
</head>
<body>
    <div class="body">
        <div class="header">
            <div class="leftHeader">
                <label for="" class="logo">SportSync</label>
                <button for="" class="dashboard">Dashboard</button>
                <button for="" class="activities">Activities</button>
                <button for="" class="race">Races</button>
                <button for="" class="analysis">Analysis</button>
            </div>
            <div class="rightHeader">
                <img src="/sportsync/src/main/resources/Assets/DashboardPage/userIcon.svg" alt="">
            </div>
        </div>
        <div class="main">
            <div class="judul">
                <label for="">Your Activities</label>
            </div>
            <div class="container1">
                <label for="">Username</label>
                <label for="">YYYY-MM-DD HH:mm </label>
                <label for="">Title</label>
                <label for="">desc.</label>
                <img src="" alt="">
                <label for="">Distance: XX m</label>
                <label for="">Duration: HHh, MMm, SSs</label>
            </div>
        </div>
    </div>
</body>
</html>